*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: rgb(240, 240, 240);
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    border-radius: 15px;
    width: 485px;
}

.first-block-cont{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-avatar{
    border-radius: 50%;
    width: 160px;
}

.user-avatar-cont{
    background-color: #232323;
    display: flex;
    width: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.userName{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.mini-info{
    font-weight: 400;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    color: #909090;
}




.stats-list{
    list-style-type: none;
    display: flex;
    border-top: 2px solid #828282;
}

.stats-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    min-width: 140px;
    background-color: #c2c2c2;
}

.stats-list-item:first-child{
    border-radius: 0 0 0 12px;
    border-right: 2px solid #828282;
}

.stats-list-item:last-child{
    border-left: 2px solid #828282;
    border-radius: 0 0 12px 0;
}

.stats-list-text{
    font-weight: 400;
}