.list {
    color: black;
}

.transactionTable {
    border-collapse: collapse;
}

.typesMore{
    background-color: rgb(60, 60, 60);
    color: #fff;
}

.item{
    padding: 0 64px;
    border: 1px solid #000;
}

.backNotWhite{
    background-color: #e8e8e8;
}
